### Play around with dataframe

In [20]:
#libraries/modules
import csv
import pandas as pd
import os

In [21]:
df = pd.read_csv('assets/gilbertson_ho_vs_christ_thompson_8_14_2020.csv')
print(df.head(10))

    Player  Set   Offense Type Defense  Location   mm   kb
0  Michael    1    hard driven     NaN       5.0  NaN  NaN
1      Ben    1  hitting error     NaN       NaN  1.0  NaN
2     Mark    1  hitting error     NaN       NaN  NaN  1.0
3     Mark    1  hitting error     NaN       NaN  NaN  1.0
4  Michael    1  hitting error     NaN       NaN  NaN  1.0
5  Michael    1  hitting error     NaN       NaN  NaN  1.0
6  Michael    1  hitting error     NaN       NaN  NaN  1.0
7      Ben    1  service error     NaN       NaN  1.0  NaN
8     Mark    1  service error     NaN       NaN  NaN  1.0
9  Michael    1  service error     NaN       NaN  NaN  1.0

### get kill stats for one player

In [35]:
#bar chart of kills
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
grouped_df = non_na_df.groupby("Offense Type", as_index = False).agg(kill_counts = ("Offense Type", 'count')) #group by offense type and aggregate sum the counts

#convert errors to negative counts
for index, row in grouped_df.iterrows():
    if "error" in row['Offense Type']:
        grouped_df.at[index, 'kill_counts'] = -row['kill_counts'] #make any errors have negative count

#sort dataframe
grouped_df = grouped_df.sort_values(by = 'kill_counts', ascending =  False)

#get sum of all kills
total_kills = grouped_df['kill_counts'].sum()

display(non_na_df)
display(grouped_df)
display(grouped_df['Offense Type'])
display(grouped_df['kill_counts'])

     Player  Set   Offense Type Defense  Location   mm   kb
0   Michael    1    hard driven     NaN       5.0  NaN  NaN
4   Michael    1  hitting error     NaN       NaN  NaN  1.0
5   Michael    1  hitting error     NaN       NaN  NaN  1.0
6   Michael    1  hitting error     NaN       NaN  NaN  1.0
9   Michael    1  service error     NaN       NaN  NaN  1.0
15  Michael    1       cut shot     NaN       4.0  1.0  NaN
18  Michael    1    hard driven     NaN       5.0  1.0  NaN
19  Michael    1    hard driven     NaN       1.0  1.0  NaN
24  Michael    1      hit shank     NaN       NaN  1.0  NaN
25  Michael    1      hit shank     NaN       NaN  1.0  NaN
26  Michael    1      hit shank     NaN       NaN  1.0  NaN
29  Michael    1      roll shot     NaN       1.0  1.0  NaN
30  Michael    1      roll shot     NaN       1.0  1.0  NaN
33  Michael    1    serve shank     NaN       NaN  1.0  NaN
34  Michael    1    serve shank     NaN       NaN  1.0  NaN
35  Michael    1    serve shank     NaN       NaN  1.0  NaN
38  Michael    1            tip     NaN       4.0  1.0  NaN

    Offense Type  kill_counts
1    hard driven            3
2      hit shank            3
5    serve shank            3
4      roll shot            2
0       cut shot            1
7            tip            1
6  service error           -1
3  hitting error           -3

1      hard driven
2        hit shank
5      serve shank
4        roll shot
0         cut shot
7              tip
6    service error
3    hitting error
Name: Offense Type, dtype: object

1    3
2    3
5    3
4    2
0    1
7    1
6   -1
3   -3
Name: kill_counts, dtype: int64

### for heatmap of kills

In [23]:
#heat map of kill locations
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
location_df = non_na_df.groupby("Location", as_index = False).agg(location_counts = ("Location", 'count')) #group by offense type and aggregate sum the counts

#convert locations to int
location_df['Location'] = location_df['Location'].astype(int)

display(non_na_df)
display(location_df)

     Player  Set   Offense Type Defense  Location   mm   kb
0   Michael    1    hard driven     NaN       5.0  NaN  NaN
4   Michael    1  hitting error     NaN       NaN  NaN  1.0
5   Michael    1  hitting error     NaN       NaN  NaN  1.0
6   Michael    1  hitting error     NaN       NaN  NaN  1.0
9   Michael    1  service error     NaN       NaN  NaN  1.0
15  Michael    1       cut shot     NaN       4.0  1.0  NaN
18  Michael    1    hard driven     NaN       5.0  1.0  NaN
19  Michael    1    hard driven     NaN       1.0  1.0  NaN
24  Michael    1      hit shank     NaN       NaN  1.0  NaN
25  Michael    1      hit shank     NaN       NaN  1.0  NaN
26  Michael    1      hit shank     NaN       NaN  1.0  NaN
29  Michael    1      roll shot     NaN       1.0  1.0  NaN
30  Michael    1      roll shot     NaN       1.0  1.0  NaN
33  Michael    1    serve shank     NaN       NaN  1.0  NaN
34  Michael    1    serve shank     NaN       NaN  1.0  NaN
35  Michael    1    serve shank     NaN       NaN  1.0  NaN
38  Michael    1            tip     NaN       4.0  1.0  NaN

   Location  location_counts
0         1                3
1         4                2
2         5                2

In [24]:
#prep/experiment work for below
print(location_df['Location'].tolist())

if 3 in location_df['Location'].tolist():
    print("yes")
else:
    print("no")

# location_df.loc[location_df['Location'] == 1]

print(location_df.loc[location_df['Location'] == 4]['location_counts'].values[0])

[1, 4, 5]
no
2

In [25]:
location_counts = []
for i in range(1, 7, 1):
    if i in location_df['Location'].tolist():
        location_counts.append(location_df.loc[location_df['Location'] == i]['location_counts'].values[0])
    else:
        location_counts.append(0)

print(location_counts)

rearranged_locations = [location_counts[0:3], location_counts[3:6]]

print(rearranged_locations)

[3, 0, 0, 2, 2, 0]
[[3, 0, 0], [2, 2, 0]]

### how to sum negative and positive numbers for score

In [40]:
#bar chart of kills
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
grouped_df = non_na_df.groupby("Offense Type", as_index = False).agg(kill_counts = ("Offense Type", 'count')) #group by offense type and aggregate sum the counts

#convert errors to negative counts
for index, row in grouped_df.iterrows():
    if "error" in row['Offense Type']:
        grouped_df.at[index, 'kill_counts'] = -row['kill_counts'] #make any errors have negative count

#sort dataframe
grouped_df = grouped_df.sort_values(by = 'kill_counts', ascending =  False)

#net points
net_points = grouped_df['kill_counts'].sum()
print(net_points)

#scored points
scored_points = grouped_df[grouped_df['kill_counts'] > 0]['kill_counts'].sum()
print(scored_points)

#errors
errors = grouped_df[grouped_df['kill_counts'] < 0]['kill_counts'].sum()
print(errors)

9
13
-4