### Play around with dataframe

In [1]:
#libraries/modules
import csv
import pandas as pd
import os

In [2]:
df = pd.read_csv('assets/gilbertson_ho_vs_christ_thompson_8_14_2020.csv')
print(df.head(10))

    Player  Set Offense Type Defense  Location   Error Type   mm   kb
0     Mark    1         tool     NaN       NaN          NaN  1.0  NaN
1     Mark    1          NaN     dig       4.0          NaN  NaN  NaN
2     Mark    1    roll shot     NaN       2.0          NaN  1.0  NaN
3     Mark    1          NaN     dig       5.0          NaN  NaN  NaN
4      Ben    1          tip     NaN       1.0          NaN  1.0  NaN
5  Michael    1    roll shot     NaN       1.0          NaN  1.0  NaN
6  Michael    1          NaN     NaN       NaN      service  NaN  1.0
7  Michael    1          tip     NaN       4.0          NaN  1.0  NaN
8  Michael    1          NaN     NaN       NaN      hitting  NaN  1.0
9  Michael    1          NaN     NaN       5.0  hard driven  NaN  1.0

### get kill stats for one player

In [3]:
#bar chart of kills
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
grouped_df = non_na_df.groupby("Offense Type", as_index = False).agg(kill_counts = ("Offense Type", 'count')) #group by offense type and aggregate sum the counts

#get sum of all kills
total_kills = grouped_df['kill_counts'].sum()

display(non_na_df)
display(grouped_df)
display(grouped_df['Offense Type'])
display(grouped_df['kill_counts'])

     Player  Set Offense Type Defense  Location Error Type   mm  kb
5   Michael    1    roll shot     NaN       1.0        NaN  1.0 NaN
7   Michael    1          tip     NaN       4.0        NaN  1.0 NaN
10  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN
14  Michael    1    roll shot     NaN       1.0        NaN  1.0 NaN
16  Michael    1     cut shot     NaN       4.0        NaN  1.0 NaN
19  Michael    1  hard driven     NaN       5.0        NaN  1.0 NaN
30  Michael    1  hard driven     NaN       1.0        NaN  1.0 NaN
31  Michael    1  serve shank     NaN       5.0        NaN  1.0 NaN
32  Michael    1  serve shank     NaN       2.0        NaN  1.0 NaN
33  Michael    1  serve shank     NaN       1.0        NaN  1.0 NaN
46  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN
49  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN

  Offense Type  kill_counts
0     cut shot            1
1  hard driven            2
2    hit shank            3
3    roll shot            2
4  serve shank            3
5          tip            1

0       cut shot
1    hard driven
2      hit shank
3      roll shot
4    serve shank
5            tip
Name: Offense Type, dtype: object

0    1
1    2
2    3
3    2
4    3
5    1
Name: kill_counts, dtype: int64

### for heatmap of kills

In [58]:
#heat map of kill locations
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
location_df = non_na_df.groupby("Location", as_index = False).agg(location_counts = ("Location", 'count')) #group by offense type and aggregate sum the counts

#convert locations to int
location_df['Location'] = location_df['Location'].astype(int)

display(non_na_df)
display(location_df)

     Player  Set Offense Type Defense  Location Error Type   mm  kb
5   Michael    1    roll shot     NaN       1.0        NaN  1.0 NaN
7   Michael    1          tip     NaN       4.0        NaN  1.0 NaN
10  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN
14  Michael    1    roll shot     NaN       1.0        NaN  1.0 NaN
16  Michael    1     cut shot     NaN       4.0        NaN  1.0 NaN
19  Michael    1  hard driven     NaN       5.0        NaN  1.0 NaN
30  Michael    1  hard driven     NaN       1.0        NaN  1.0 NaN
31  Michael    1  serve shank     NaN       5.0        NaN  1.0 NaN
32  Michael    1  serve shank     NaN       2.0        NaN  1.0 NaN
33  Michael    1  serve shank     NaN       1.0        NaN  1.0 NaN
46  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN
49  Michael    1    hit shank     NaN       NaN        NaN  1.0 NaN

   Location  location_counts
0         1                4
1         2                1
2         4                2
3         5                2

In [51]:
#prep/experiment work for below
print(location_df['Location'].tolist())

if 3 in location_df['Location'].tolist():
    print("yes")
else:
    print("no")

# location_df.loc[location_df['Location'] == 1]

print(location_df.loc[location_df['Location'] == 4]['location_counts'].values[0])

[1, 2, 4, 5]
no
2

In [57]:
location_counts = []
for i in range(1, 7, 1):
    if i in location_df['Location'].tolist():
        location_counts.append(location_df.loc[location_df['Location'] == i]['location_counts'].values[0])
    else:
        location_counts.append(0)

print(location_counts)

rearranged_locations = [location_counts[0:3], location_counts[3:6]]

print(rearranged_locations)

[4, 1, 0, 2, 2, 0]
[[4, 1, 0], [2, 2, 0]]