### Play around with dataframe

In [42]:
#libraries/modules
import csv
import pandas as pd
import os

In [43]:
df = pd.read_csv('assets/gilbertson_ho_vs_christ_thompson_8_14_2020.csv')
print(df.head(10))

    Player  Set   Offense Type Defense  Location   mm   kb
0  Michael    1    hard driven     NaN       5.0  NaN  NaN
1      Ben    1  hitting error     NaN       NaN  1.0  NaN
2     Mark    1  hitting error     NaN       NaN  NaN  1.0
3     Mark    1  hitting error     NaN       NaN  NaN  1.0
4  Michael    1  hitting error     NaN       NaN  NaN  1.0
5  Michael    1  hitting error     NaN       NaN  NaN  1.0
6  Michael    1  hitting error     NaN       NaN  NaN  1.0
7      Ben    1  service error     NaN       NaN  1.0  NaN
8     Mark    1  service error     NaN       NaN  NaN  1.0
9  Michael    1  service error     NaN       NaN  NaN  1.0

### get kill stats for one player

In [44]:
df2 = pd.read_csv('assets/gilbertson_ho_vs_christ_thompson_8_14_2020_modified.csv')
print(df2.head(10))

    Player  Set        Event  Location
0     Mark    1  hard driven       1.0
1  Michael    1  hard driven       1.0
2     Mark    1    hit shank       NaN
3  Michael    1    roll shot       1.0
4  Michael    1    roll shot       1.0
5      Ben    1          tip       1.0
6     Kyle    1   block kill       2.0
7     Mark    1    roll shot       2.0
8     Kyle    1          dig       3.0
9     Kyle    1     cut shot       4.0

In [45]:
#bar chart of kills
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
grouped_df = non_na_df.groupby("Offense Type", as_index = False).agg(kill_counts = ("Offense Type", 'count')) #group by offense type and aggregate sum the counts

#convert errors to negative counts
for index, row in grouped_df.iterrows():
    if "error" in row['Offense Type']:
        grouped_df.at[index, 'kill_counts'] = -row['kill_counts'] #make any errors have negative count

#sort dataframe
grouped_df = grouped_df.sort_values(by = 'kill_counts', ascending =  False)

#get sum of all kills
total_kills = grouped_df['kill_counts'].sum()

display(non_na_df)
display(grouped_df)
display(grouped_df['Offense Type'])
display(grouped_df['kill_counts'])

     Player  Set   Offense Type Defense  Location   mm   kb
0   Michael    1    hard driven     NaN       5.0  NaN  NaN
4   Michael    1  hitting error     NaN       NaN  NaN  1.0
5   Michael    1  hitting error     NaN       NaN  NaN  1.0
6   Michael    1  hitting error     NaN       NaN  NaN  1.0
9   Michael    1  service error     NaN       NaN  NaN  1.0
15  Michael    1       cut shot     NaN       4.0  1.0  NaN
18  Michael    1    hard driven     NaN       5.0  1.0  NaN
19  Michael    1    hard driven     NaN       1.0  1.0  NaN
24  Michael    1      hit shank     NaN       NaN  1.0  NaN
25  Michael    1      hit shank     NaN       NaN  1.0  NaN
26  Michael    1      hit shank     NaN       NaN  1.0  NaN
29  Michael    1      roll shot     NaN       1.0  1.0  NaN
30  Michael    1      roll shot     NaN       1.0  1.0  NaN
33  Michael    1    serve shank     NaN       NaN  1.0  NaN
34  Michael    1    serve shank     NaN       NaN  1.0  NaN
35  Michael    1    serve shank     NaN       NaN  1.0  NaN
38  Michael    1            tip     NaN       4.0  1.0  NaN

    Offense Type  kill_counts
1    hard driven            3
2      hit shank            3
5    serve shank            3
4      roll shot            2
0       cut shot            1
7            tip            1
6  service error           -1
3  hitting error           -3

1      hard driven
2        hit shank
5      serve shank
4        roll shot
0         cut shot
7              tip
6    service error
3    hitting error
Name: Offense Type, dtype: object

1    3
2    3
5    3
4    2
0    1
7    1
6   -1
3   -3
Name: kill_counts, dtype: int64

### for heatmap of kills

In [46]:
#heat map of kill locations
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
location_df = non_na_df.groupby("Location", as_index = False).agg(location_counts = ("Location", 'count')) #group by offense type and aggregate sum the counts

#convert locations to int
location_df['Location'] = location_df['Location'].astype(int)

display(non_na_df)
display(location_df)

     Player  Set   Offense Type Defense  Location   mm   kb
0   Michael    1    hard driven     NaN       5.0  NaN  NaN
4   Michael    1  hitting error     NaN       NaN  NaN  1.0
5   Michael    1  hitting error     NaN       NaN  NaN  1.0
6   Michael    1  hitting error     NaN       NaN  NaN  1.0
9   Michael    1  service error     NaN       NaN  NaN  1.0
15  Michael    1       cut shot     NaN       4.0  1.0  NaN
18  Michael    1    hard driven     NaN       5.0  1.0  NaN
19  Michael    1    hard driven     NaN       1.0  1.0  NaN
24  Michael    1      hit shank     NaN       NaN  1.0  NaN
25  Michael    1      hit shank     NaN       NaN  1.0  NaN
26  Michael    1      hit shank     NaN       NaN  1.0  NaN
29  Michael    1      roll shot     NaN       1.0  1.0  NaN
30  Michael    1      roll shot     NaN       1.0  1.0  NaN
33  Michael    1    serve shank     NaN       NaN  1.0  NaN
34  Michael    1    serve shank     NaN       NaN  1.0  NaN
35  Michael    1    serve shank     NaN       NaN  1.0  NaN
38  Michael    1            tip     NaN       4.0  1.0  NaN

   Location  location_counts
0         1                3
1         4                2
2         5                2

In [47]:
#prep/experiment work for below
print(location_df['Location'].tolist())

if 3 in location_df['Location'].tolist():
    print("yes")
else:
    print("no")

# location_df.loc[location_df['Location'] == 1]

print(location_df.loc[location_df['Location'] == 4]['location_counts'].values[0])

[1, 4, 5]
no
2

In [48]:
#convert court index to list index with its corresponding count
location_counts = []
for i in range(1, 7, 1):
    if i in location_df['Location'].tolist():
        location_counts.append(location_df.loc[location_df['Location'] == i]['location_counts'].values[0])
    else:
        location_counts.append(0)

print(location_counts)

#now rearrange court index and counts to match heatmap orientation, i.e. convert [[1, 2, 3], [4, 5, 6]], which represents the heat map, to [[4, 3, 2], [5, 6, 1]], which represents the court
court_indexes = [4, 3, 2, 5, 6, 1]

court_counts = []

for court_index in court_indexes:
            court_counts.append(location_counts[court_index-1])

rearranged_locations = [court_counts[0:3], court_counts[3:6]] #correct court indexes for heat map

print(rearranged_locations)

[3, 0, 0, 2, 2, 0]
[[2, 0, 0], [2, 0, 3]]

### how to sum negative and positive numbers for score

In [49]:
#bar chart of kills
player_df = df[df['Player'] == "Michael"] #filter by player
non_na_df = player_df[player_df["Offense Type"].notnull()]#filter by non-na kill values
grouped_df = non_na_df.groupby("Offense Type", as_index = False).agg(kill_counts = ("Offense Type", 'count')) #group by offense type and aggregate sum the counts

#convert errors to negative counts
for index, row in grouped_df.iterrows():
    if "error" in row['Offense Type']:
        grouped_df.at[index, 'kill_counts'] = -row['kill_counts'] #make any errors have negative count

#sort dataframe
grouped_df = grouped_df.sort_values(by = 'kill_counts', ascending =  False)

#net points
net_points = grouped_df['kill_counts'].sum()
print(net_points)

#scored points
scored_points = grouped_df[grouped_df['kill_counts'] > 0]['kill_counts'].sum()
print(scored_points)

#errors
errors = grouped_df[grouped_df['kill_counts'] < 0]['kill_counts'].sum()
print(errors)

9
13
-4

### heatmap for digs (defense)

In [50]:
#heat map of kill locations
player_df = df2[df2['Player'] == "Michael"] #filter by player
defense_df = player_df[player_df["Event"] == 'dig']#filter by non-na kill values
location_df = defense_df.groupby("Location", as_index = False).agg(location_counts = ("Location", 'count')) #group by offense type and aggregate sum the counts

#convert locations to int
location_df['Location'] = location_df['Location'].astype(int)

display(defense_df)
display(location_df)

     Player  Set Event  Location
22  Michael    1   dig       5.0

   Location  location_counts
0         5                1

In [51]:
#convert court index to list index with its corresponding count
location_counts = []
for i in range(1, 7, 1):
    if i in location_df['Location'].tolist():
        location_counts.append(location_df.loc[location_df['Location'] == i]['location_counts'].values[0])
    else:
        location_counts.append(0)

#now rearrange court index and counts to match heatmap orientation, i.e. convert [[1, 2, 3], [4, 5, 6]], which represents the heat map, to [[4, 3, 2], [5, 6, 1]], which represents the court
court_indexes = [4, 3, 2, 5, 6, 1]

court_counts = []

for court_index in court_indexes:
            court_counts.append(location_counts[court_index-1])

rearranged_locations = [court_counts[0:3], court_counts[3:6]] #correct court indexes for heat map

print(rearranged_locations)

[[0, 0, 0], [1, 0, 0]]

### Calculating hitting percentage
total hits = kills + attempts + errors <br>
hitting percentage = kills - errors / total hits

In [52]:
display(df2.head(10))

    Player  Set        Event  Location
0     Mark    1  hard driven       1.0
1  Michael    1  hard driven       1.0
2     Mark    1    hit shank       NaN
3  Michael    1    roll shot       1.0
4  Michael    1    roll shot       1.0
5      Ben    1          tip       1.0
6     Kyle    1   block kill       2.0
7     Mark    1    roll shot       2.0
8     Kyle    1          dig       3.0
9     Kyle    1     cut shot       4.0

In [55]:
player_df = df2[df2['Player'] == "Mark"] #filter by player

display(player_df)

#calculate count of errors
error_df = player_df[player_df["Event"].str.contains("hitting error")] #filter by string with "hitting error"
error_counts = error_df.groupby("Event", as_index = False).agg(error_count = ("Event", 'count')) #aggregate count (sum) all the hitting errors
errors = error_counts['error_count'].sum() #take the summed aggregate count of hitting errors

print(errors)

#calculate count of attempts
attempt_df = player_df[player_df["Event"].str.contains("attempt")] #filter by string with "hitting error"
attempt_counts = attempt_df.groupby("Event", as_index = False).agg(attempt_count = ("Event", 'count')) #aggregate count (sum) all the hitting errors
attempts = attempt_counts['attempt_count'].sum() #take the summed aggregate count of hitting errors

print(attempts)

#calculate kills
kill_types = ['hard driven', 'hit shank', 'roll shot', 'tip', 'block kill', 'cut shot', 'touch', 'block shank', 'tool'] #specify all kill types to filter by
kill_df = player_df[player_df['Event'].isin(kill_types)]
kill_counts = kill_df.groupby("Event", as_index = False).agg(kill_count = ("Event", 'count')) #aggregate count (sum) all the hitting errors
kills = kill_counts['kill_count'].sum() #take the summed aggregate count of hitting errors

print(kills)

#calculate total hits
total_attacks = errors + attempts + kills

#calculate hitting percentage
hit_pct = (kills-errors)/total_attacks

print(hit_pct)

   Player  Set          Event  Location
0    Mark    1    hard driven       1.0
2    Mark    1      hit shank       NaN
7    Mark    1      roll shot       2.0
13   Mark    1            dig       4.0
14   Mark    1            dig       4.0
16   Mark    1     block kill       5.0
17   Mark    1    hard driven       5.0
20   Mark    1          touch       5.0
21   Mark    1            dig       5.0
25   Mark    1  hitting error       NaN
26   Mark    1  hitting error       NaN
31   Mark    1  service error       NaN
37   Mark    1      hit shank       NaN
48   Mark    1           tool       NaN
59   Mark    1    hit attempt       NaN
60   Mark    1    hit attempt       NaN
63   Mark    1    hit attempt       NaN
71   Mark    1    cut attempt       NaN

2
4
8
0.42857142857142855

### strip white spaces in players

In [59]:
players = list(set(df2['Player'].values.tolist())) #get list of unique players
print(players)

white_spaces = df2.copy()
white_spaces['Player'] = white_spaces['Player'].str.replace(" ", "")
display(white_spaces)

players = list(set(white_spaces['Player'].values.tolist())) #get list of unique players
print(players)

['Kyle ', 'Michael', 'Ben', 'Mark', 'Kyle']

     Player  Set         Event  Location
0      Mark    1   hard driven       1.0
1   Michael    1   hard driven       1.0
2      Mark    1     hit shank       NaN
3   Michael    1     roll shot       1.0
4   Michael    1     roll shot       1.0
..      ...  ...           ...       ...
69     Kyle    1  roll attempt       NaN
70      Ben    1  roll attempt       NaN
71     Mark    1   cut attempt       NaN
72      Ben    1   hit attempt       NaN
73     Kyle    1  roll attempt       NaN

[74 rows x 4 columns]

['Michael', 'Mark', 'Kyle', 'Ben']

### find block attempts

In [61]:
block_df = player_df[player_df['Event'] == 'block attempt'] #filter by block attempts

display(block_df)

block_counts = block_df.groupby("Event", as_index = False).agg(block_count = ("Event", 'count')) #aggregate count (sum) all block attempts
blocks = block_counts['block_count'].sum() #take the summed aggregate count of block attempts



display(blocks)

Empty DataFrame
Columns: [Player, Set, Event, Location]
Index: []

0